name: Build and Push Docker Image

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: mmgoodnow/cd/.github/workflows/docker-amd64.yml@main
    secrets: inherit
